* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* ХУЙНЯ СВЕРХУ ПОПРОБУЙ КАРТИНКУ ВСТАВИТЬ Я НЕ ЕБУ */
.header {
    padding: 5%;
    text-align: center;
    /*background-color: #83C5E9;*/
    background-image: url(../img/back_title.png);
    color: white;
}

/* размер хуиты h1 */
.header h1 {
  padding: 1%;
  font-size: 40px;
  text-shadow: 3px 3px 1px #1E062D;
  /*background-color: red;*/
}

/* размер хуиты p */
.header p {
    font-size: 20px;
    text-shadow: 3px 3px 1px #1E062D;
   /* color: white;*/
  }

/* стиль верхнего навигационного меню типо я не ебу бля*/
.navbar {
    overflow: hidden;
    background-color: #1E062D;
}

/* стиль навигации ссылок верхней хуиты*/
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* смена цвета при наведении на ссылку */
.navbar a:hover {
    background-color: #bdbdbd;
    color: red;
}

/* контейнер колонн? */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* СОЗДАНИЕ ДВУХ КОЛОНОК ТИПА Я ДУМАЮ ДА */
/* Левая\мелкая колонка */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 175%;
}

/* Типо главная колонка */
.main {   
    flex: 70%;
    background-color: white;
    padding: 20px;
    font-size: 175%;
}


/* фейковая картинка, чисто заполнитель */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* подвал */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width:100%;
    }
}
